<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{game.title})}">The Sheriff</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <form id="gameForm" th:action="@{/game}" method="post" th:object="${form}">

        <div class="row">
          <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary" th:text="#{btn.calculate}">Calculate</button>
          </div>
        </div>

        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
          <li class="nav-item" th:each="p, playersResultIndex : *{playersResult}">
            <button type="button" class="nav-link" role="tab" th:classappend="(${playersResultIndex.isFirst} ? 'active') + ' ' + (${p.player.hero eq 'red'} ? 'game-text-red' : (${p.player.hero eq 'blue'} ? 'game-text-blue' : (${p.player.hero eq 'green'} ? 'game-text-green' : (${p.player.hero eq 'yellow'} ? 'game-text-yellow' : (${p.player.hero eq 'purple'} ? 'game-text-purple')))))" th:id="'#player-' + ${playersResultIndex.index} + '-tab'" data-bs-toggle="tab"
                    th:data-bs-target="'#player-' + ${playersResultIndex.index}" th:aria-controls="'#player-' + ${playersResultIndex.index}" th:attr="aria-selected=${playersResultIndex.isFirst}" th:text="${p.player.name}">Player</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" id="result-tab" data-bs-toggle="tab"
                    data-bs-target="#result" aria-controls="result" aria-selected="false" th:text="#{game.result.header}">Result</button>
          </li>
        </ul>
        <!--<div th:text="*{playersResult}"></div>-->
        <div class="tab-content" id="gameContent">
          <div class="tab-pane fade" th:each="p, playersResultIndex : *{playersResult}" th:classappend="${playersResultIndex.isFirst} ? 'show active'"
               th:id="'player-' + ${playersResultIndex.index}" tabindex="0">

            <!-- Hidden fields -->

            <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].player.name}"/>
            <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].player.hero}"/>

            <!-- End of Hidden fields -->

            <div class="row">
              <div class="col-12 mb-3">
                <div class="h4 mb-2" th:text="${p.player.name}"
                     th:classappend="${p.player.hero eq 'red'} ? 'game-text-red' : (${p.player.hero eq 'blue'} ? 'game-text-blue' : (${p.player.hero eq 'green'} ? 'game-text-green' : (${p.player.hero eq 'yellow'} ? 'game-text-yellow' : (${p.player.hero eq 'purple'} ? 'game-text-purple'))))">Name</div>

                <div class="mb-3">
                  <label class="form-label" th:text="#{currentmoney}">Current money</label>
                  <input type="number" class="form-control" th:field="*{playersResult[__${playersResultIndex.index}__].currentMoney}" min="0"/>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <div class="col-12 col-lg-3" th:each="lc, lcIndex : *{playersResult[__${playersResultIndex.index}__].legalCards}">
                        <div class="card game-player-green mb-3">
                          <img src="#" th:src="@{/resources/img} + ${lc.card.image}" class="card-img-top" th:alt="${lc.card.name}" alt="Card"/>
                          <div class="card-footer">
                            <input type="number" class="form-control form-control-sm" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].count}" min="0"/>
                          </div>
                        </div>

                        <!-- Hidden fields -->

                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.name}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.description}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.price}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.fine}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.image}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.isContraband}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].legalCards[__${lcIndex.index}__].card.hasEffect}"/>

                        <!-- End of Hidden fields -->
                      </div>
                    </div>
                  </div>

                  <!-- Contraband -->
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <div class="col-12 col-lg-3" th:each="bcc, bccIndex : *{playersResult[__${playersResultIndex.index}__].baseContrabandCards}">
                        <div class="card game-player-red mb-3">
                          <img src="#" th:src="@{/resources/img} + ${bcc.card.image}" class="card-img-top" th:alt="${bcc.card.name}" alt="Card"/>
                          <div class="card-footer">
                            <input type="number" class="form-control form-control-sm" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].count}" min="0"/>
                          </div>
                        </div>

                        <!-- Hidden fields -->

                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.name}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.description}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.price}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.fine}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.image}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.isContraband}"/>
                        <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].baseContrabandCards[__${bccIndex.index}__].card.hasEffect}"/>

                        <!-- End of Hidden fields -->
                      </div>
                    </div>
                  </div>
                  <hr class="mt-2 mb-3"/>
                  <div class="row">
                    <div class="col-12 col-lg mb-3" th:each="gcc, gccIndex : *{playersResult[__${playersResultIndex.index}__].goldContrabandCards}">
                      <div class="card game-player-red h-100">
                        <img src="#" th:src="@{/resources/img} + ${gcc.card.image}" class="card-img-top" th:alt="${gcc.card.name}" alt="Card"/>
                        <div class="card-footer">
                          <input type="number" class="form-control form-control-sm" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].count}" min="0"/>
                        </div>
                      </div>

                      <!-- Hidden fields -->

                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.name}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.description}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.price}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.fine}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.image}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.isContraband}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].goldContrabandCards[__${gccIndex.index}__].card.hasEffect}"/>

                      <!-- End of Hidden fields -->
                    </div>
                  </div>
                  <hr class="mt-2 mb-3"/>
                  <div class="row">
                    <div class="col-12 col-lg-2 mb-3" th:each="kcc, kccIndex : *{playersResult[__${playersResultIndex.index}__].kingContrabandCards}">
                      <div class="card game-player-red h-100">
                        <img src="#" th:src="@{/resources/img} + ${kcc.card.image}" class="card-img-top" th:alt="${kcc.card.name}" alt="Card"/>
                        <div class="card-footer d-flex align-items-center mb-0">
                          <input type="number" class="form-control form-control-sm" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].count}" min="0"/>
                          <div class="ms-3 mb-0 h-100 d-flex align-items-center cursor-default" th:if="${kcc.card.description ne null}"
                               data-bs-toggle="tooltip" th:data-bs-title="${kcc.card.description}">
                            <!--<div>Descr</div>-->
                            <i class="fa-solid fa-circle-info"></i>
                            <!--<i class="fa-solid fa-info"></i>-->
                          </div>
                        </div>
                      </div>

                      <!-- Hidden fields -->

                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.name}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.description}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.price}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.fine}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.image}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.isContraband}"/>
                      <input type="hidden" th:field="*{playersResult[__${playersResultIndex.index}__].kingContrabandCards[__${kccIndex.index}__].card.hasEffect}"/>

                      <!-- End of Hidden fields -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="result" tabindex="0">

            <table class="table mb-4">
              <thead>
                <tr>
                  <th th:text="#{game.result.table.name}">Name</th>
                  <th th:text="#{game.result.table.hero}">Hero</th>
                  <th th:text="#{game.result.table.cashmoney}">Cash money</th>
                  <th th:text="#{game.result.table.cardmoney}">Card money</th>
                  <th th:text="#{game.result.table.kingsandqueensmoney}">Kings &amp; Queens money</th>
                  <th th:text="#{game.result.table.total}">Total</th>
                </tr>
              </thead>
              <tbody>
                <div th:remove="tag" th:unless="${totalResult ne null and totalResult.playersTotal ne null and totalResult.winners ne null}">
                  <tr th:each="p, playersResultIndex : *{playersResult}">
                    <td th:text="${p.player.name}">Name</td>
                    <td th:classappend="${p.player.hero eq 'red'} ? 'game-text-red' : (${p.player.hero eq 'blue'} ? 'game-text-blue' : (${p.player.hero eq 'green'} ? 'game-text-green' : (${p.player.hero eq 'yellow'} ? 'game-text-yellow' : (${p.player.hero eq 'purple'} ? 'game-text-purple'))))" th:text="#{players.type.name. + ${p.player.hero}} + ' (' + #{players.type. + ${p.player.hero}} + ')'">Hero</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </div>
                <div th:remove="tag" th:if="${totalResult ne null and totalResult.playersTotal ne null and totalResult.winners ne null}">
                  <tr th:each="pt : ${totalResult.playersTotal}" th:classappend="${pt.isWinner} ? 'table-active fw-bold'">
                    <td th:text="${pt.player.name}">Player name</td>
                    <td th:classappend="${pt.player.hero eq 'red'} ? 'game-text-red' : (${pt.player.hero eq 'blue'} ? 'game-text-blue' : (${pt.player.hero eq 'green'} ? 'game-text-green' : (${pt.player.hero eq 'yellow'} ? 'game-text-yellow' : (${pt.player.hero eq 'purple'} ? 'game-text-purple'))))" th:text="#{players.type.name. + ${pt.player.hero}} + ' (' + #{players.type. + ${pt.player.hero}} + ')'">Hero</td>
                    <td th:text="${pt.cashMoney}">Cash money</td>
                    <td th:text="${pt.cardMoney}">Card money</td>
                    <td th:text="${pt.kingAndQueenMoney}">Kings &amp; Queens money</td>
                    <!--<td>4</td>-->
                    <td th:text="${pt.total}">Total</td>
                    <!--                  <td th:text="${p.player.name}">Name</td>
                                      <td th:classappend="${p.player.hero eq 'red'} ? 'game-text-red' : (${p.player.hero eq 'blue'} ? 'game-text-blue' : (${p.player.hero eq 'green'} ? 'game-text-green' : (${p.player.hero eq 'yellow'} ? 'game-text-yellow' : (${p.player.hero eq 'purple'} ? 'game-text-purple'))))" th:text="#{players.type.name. + ${p.player.hero}} + ' (' + #{players.type. + ${p.player.hero}} + ')'">Hero</td>
                                      <td th:text="${p.currentMoney}">3</td>
                                      <td>5</td>
                                      <td>8</td>-->
                  </tr>
                </div>
              </tbody>
            </table>

            <div th:remove="tag" th:if="${totalResult ne null and totalResult.playersTotal ne null and totalResult.winners ne null}">

              <div th:if="${#lists.size(totalResult.winners) eq 1}">
                <div class="h3 mb-3" th:text="#{game.result.winners.1}">There is only one winner</div>
              </div>
              <div th:if="${#lists.size(totalResult.winners) gt 1}">
                <div class="h3 mb-3" th:text="#{game.result.winners.n(${#lists.size(totalResult.winners)})}">There are N winners</div>
                <!--<div class="h3 mb-0" th:each="winner : ${totalResult.winners}" th:text="#{game.result.winners.winner.money.1}${winner.player.name} + ' - ' + #{players.type.name. + ${winner.player.hero}} + ' (' + #{players.type. + ${winner.player.hero}} + ')'">Winner</div>-->
              </div>

              <div class="h3 mb-0" th:each="winner : ${totalResult.winners}" th:with="color=${winner.player.hero eq 'red'} ? 'game-text-red' : (${winner.player.hero eq 'blue'} ? 'game-text-blue' : (${winner.player.hero eq 'green'} ? 'game-text-green' : (${winner.player.hero eq 'yellow'} ? 'game-text-yellow' : (${winner.player.hero eq 'purple'} ? 'game-text-purple'))))"
                   th:utext="${winner.total eq 1} ? #{game.result.winners.winner.money.1(${winner.player.name}, ${color}, #{players.type.name. + ${winner.player.hero}}, #{players.type. + ${winner.player.hero}})} : #{game.result.winners.winner.money.n(${winner.player.name}, ${color}, #{players.type.name. + ${winner.player.hero}}, #{players.type. + ${winner.player.hero}}, ${winner.total})}">Winner</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>