<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.name}">The Sheriff</title>
  </head>
  <body>
    <div layout:fragment="contentDiv" th:with="notUsedPlayers=${@base.getNotUsedPlayers()}">

      <div class="h4 mb-3">Add players</div>

      <div class="row" th:if="${!#lists.isEmpty(notUsedPlayers)}">
        <div class="col-12 col-lg-3 mb-3">
          <div class="card card-hover pointer" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
            <div class="card-body d-flex align-items-center justify-content-center">
              <div class="h1 mb-0">+</div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal modal-lg fade" id="addPlayerModal" tabindex="-1" aria-labelledby="addPlayerModalLabel" aria-hidden="true" th:if="${!#lists.isEmpty(notUsedPlayers)}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addPlayerModalLabel">Add player</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/addPlayer}" method="post">
              <div class="modal-body" th:with="notUsedPlayers=${@base.getNotUsedPlayers()}">
                <div class="row">
                  <div class="col-auto">
                    <img id="characterImage" th:if="${notUsedPlayers[0].player eq 'red'}" src="../resources/img/characters/beerman.png"
                         th:src="@{/resources/img/characters/beerman.png}" alt="Character" width="auto" height="170"/>
                    <img id="characterImage" th:if="${notUsedPlayers[0].player eq 'blue'}" src="../resources/img/characters/baker.jpgs"
                         th:src="@{/resources/img/characters/baker.jpg}" alt="Character" width="auto" height="170"/>
                    <img id="characterImage" th:if="${notUsedPlayers[0].player eq 'green'}" src="../resources/img/characters/hunter.jpg"
                         th:src="@{/resources/img/characters/hunter.jpg}" alt="Character" width="auto" height="170"/>
                    <img id="characterImage" th:if="${notUsedPlayers[0].player eq 'yellow'}" src="../resources/img/characters/cheese_dealer.jpg"
                         th:src="@{/resources/img/characters/cheese_dealer.jpg}" alt="Character" width="auto" height="170"/>
                    <img id="characterImage" th:if="${notUsedPlayers[0].player eq 'purple'}" src="../resources/img/characters/madame.jpg"
                         th:src="@{/resources/img/characters/madame.jpg}" alt="Character" width="auto" height="170"/>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label fw-bold">Color</label>
                      <select id="playerColor" name="player" class="form-control" onchange="changeCharacter(this.value);">
                        <option th:value="${p.player}" th:text="${p.player}" th:each="p : ${notUsedPlayers}"></option>
                        <!--                        <option value="red">Red</option>
                                                <option value="blue">Blue</option>
                                                <option value="green">Green</option>
                                                <option value="yellow">Yellow</option>
                                                <option value="purple">Purple</option>-->
                      </select>
                    </div>
                    <div>
                      <label class="form-label fw-bold">Name</label>
                      <input type="text" class="form-control" name="name"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var redCharacterUrl = /*[[@{/resources/img/characters/beerman.png}]]*/;
                var blueCharacterUrl = /*[[@{/resources/img/characters/baker.jpg}]]*/;
                var greenCharacterUrl = /*[[@{/resources/img/characters/hunter.jpg}]]*/;
                var yellowCharacterUrl = /*[[@{/resources/img/characters/cheese_dealer.jpg}]]*/;
                var purpleCharacterUrl = /*[[@{/resources/img/characters/madame.jpg}]]*/;
        /*]]>*/

        function changeCharacter(currentCharacter) {

//          alert(currentCharacter);
          var newCharacter = redCharacterUrl;

          if (currentCharacter === "red") {
            newCharacter = redCharacterUrl;
          } else if (currentCharacter === "blue") {
            newCharacter = blueCharacterUrl;
          } else if (currentCharacter === "green") {
            newCharacter = greenCharacterUrl;
          } else if (currentCharacter === "yellow") {
            newCharacter = yellowCharacterUrl;
          } else {
            newCharacter = purpleCharacterUrl;
          }

          document.getElementById("characterImage").src = newCharacter;
//          alert("Change character");
        }
      </script>
    </div>
  </body>
</html>